<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>パスワード強制変更</title>
<meta charset="UTF-8">
<meta name="top"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/bootstrap.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand" href="">J-NEXT</a>
		<div class="collapse navbar-collapse justify-content-end" id="navmenu">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/logout">ログアウト</a> <a
					class="nav-item nav-link active"> <span
					sec:authentication="principal.username"></span>さん
				</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<h1>パスワード変更</h1>
		<form th:action="@{/savePassword}" th:object="${passwordForm}"
			th:method="post">
			<div>
				<label>以前のパスワード<input class="form-control" type="text"
					th:field="*{oldPassword}" /></label>
			</div>
			<div>
				<label>新しいパスワード<input class="form-control" type="text"
					th:field="*{newPassword}" /></label>
			</div>
			<div>
				<label>新しいパスワード（2回目）<input class="form-control" type="text"
					th:field="*{secondNewPassword}" /></label>
			</div>
			<div class="form-inline">
				<button class="btn btn btn-dark" name="save"
					type="submit" onclick="return confirm('変更しますか？');">変更</button>
			</div>
		</form>
	</div>
</body>
</html>